---
# Playbook variables, grouped by role

# common
domain: ""
ssh_port: "22"
root_password_hash: ""
username: "myuser"
user_password_hash: ""
user_pubkey_path: "~/.ssh/id_rsa.pub"
user_shell: "/bin/bash"
common_packages:
  - build-essential
  - sudo
  - vim
  - git
  - tmux
  - htop
  - iftop
  - iotop
  - python-software-properties


# mail
# Note: the fastmail wiki suggests replacing '@' with '#' to avoid authentication errors
postfix_hostname: ""
postfix_relayhost: "smtp.gmail.com"
postfix_relayhost_port: "587"
postfix_relayhost_username: "username#gmail.com"
postfix_relayhost_password: ""

# monitoring
logwatch_email: ""
logwatch_range: "Yesterday"
#logwatch_range: "between -7 days and -1 days" (weekly)
monit_alert_email: ""
monit_username: "monit"
monit_password: "monit"

# postgresql
postgresql_version: "9.3"

# webserver
nginx_worker_processes: 4
nginx_worker_connections: 1024

# php
# Whether php should restrict cookies to https only.
# Ddefaults to 1 if no value provided
#php_cookie_secure: 1

# feedreader
ttrss_repo: 
ttrss_location:
# For the version argument for the git module.
# Should probably be the name of a stable branch  
ttrss_version:

# The full address of the tt-rss installation, used for some features
ttrss_url_path: "http://example.org/tt-rss/"

#ttrss_database_host: localhost
#ttrss_database_port: 5432
ttrss_database_type: "pgsql"
ttrss_database: "app_ttrss"
ttrss_database_username: "ttrss"